# -*- mode: snippet -*-
# name: runmain
# key: runmain
# --
package main

import (
	"context"
	"log"
	"os/signal"
	"syscall"
)

func run(ctx context.Context) error {
	$0
	return nil
}

func main() {
	ctx, cancel := signal.NotifyContext(context.Background(), syscall.SIGTERM, syscall.SIGKILL)
	defer cancel()
	err := run(ctx)
	if err != nil {
		log.Fatalf("%v", err)
	}
}